__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
*.tar.gz
storage/rendered/*
storage/documents/*
storage/symbols/*
!storage/rendered/.gitkeep
!storage/documents/.gitkeep
!storage/symbols/.gitkeep
models/model.tar.gz
models/aws_pid
